body{height: 100vh;
width: 100%;
margin: 0;
padding: 0;}

#canvas{height: 80%;
width: 80%;
position: relative;
top: 90%;
left: 50%;
transform: translate(-50%, -100%);
}

#score{display: inline;}

h2{font-size: 1.5em;
padding: 0;
margin: 0;}
